.navbar {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  background-color: var(--blue75);
  padding: 16px 0;
}

.navbar-img {
  width: auto;
  height: 52px;
  margin-left: 26px;
}

.text {
  color: var(--white);
  font-size: 36px;
  font-weight: 300;
  margin-left: 10px;
}
