
.number-input {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5px;
}

.number-note {
  width: 100%;
  color: var(--grey55);
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}
