:root {
  --white: rgb(255, 255, 255);
  --grey15: rgb(218, 217, 217);
  --grey20: rgb(205, 204, 205);
  --grey55: rgb(119, 116, 118);
  --grey65: rgb(94, 90, 92);
  --grey80: rgb(58, 53, 55);
  --red55: rgb(196, 56, 55);
  /* --lightOrange: rgb(255, 237, 232);
  --orange500: rgb(255, 103, 60);
  --orange700: rgb(165, 63, 12); */
  /* --lightYellow: rgb(255, 248, 221);
  --yellow500: rgb(255, 204, 0);
  --yellow700: rgb(102, 82, 0);
  --lightGreen: rgb(224, 255, 247);
  --green500: rgb(0, 251, 185);
  --green700: rgb(0, 92, 68); */
  --green50: rgb(0, 191, 140);
  --green65: rgb(2, 134, 99);
  --green80: rgb(5, 78, 59);
  /* --lightBlue: rgb(224, 247, 253);
  --blue500: rgb(0, 190, 240);
  --blue700: rgb(0, 70, 88); */
  --blue25: rgb(131, 205, 246);
  --blue50: rgb(7, 156, 238);
  --blue65: rgb(7, 110, 168);
  --blue70: rgb(7, 94, 145);
  --blue75: rgb(8, 79, 122);
  --blue80: rgb(8, 64, 98);
  --blue95: rgb(8, 18, 29);
  --background-color: var(--white);
  --overpass: 'Overpass', sans-serif;
  --button-size: 82px;
  font-family: var(--overpass);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.MuiList-root {
  max-height: 180px;
}
