.single-line-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
}

.single-line-input {
  width: 320px;
  resize: none;
  overflow: hidden;
  background-color: var(--background-color);
  border: 2px solid var(--blue25);
  color: var(--white);
  border-radius: 5px;
  font-family: var(--overpass);
  font-weight: 200;
  font-size: 1.2rem;
  padding: 12px 10px;
  margin-bottom: 5px;
}

.single-line-input::placeholder {
  color: var(--blue10);
  font-style: italic;
  opacity: 1;
}

.single-line-input:focus {
  border-color: var(--white);
  outline: none;
}

.single-line-input-invalid {
  width: 320px;
  resize: none;
  overflow: hidden;
  background-color: var(--background-color);
  border: 2px solid var(--red50);
  color: var(--white);
  border-radius: 5px;
  font-family: var(--overpass);
  font-size: 1.2rem;
  padding: 12px 10px;
  margin-bottom: 5px;
}

.single-line-input-invalid::placeholder {
  color: var(--blue10);
  font-style: italic;
  opacity: 1;
}

.single-line-input-invalid:focus {
  border-color: var(--white);
}

.input-box-label {
  position: absolute;
  left: 10px;
  top: -12px;
  height: 20px;
  color: var(--white);
  background-color: var(--background-color);
  padding: 0 .2rem;
  font-family: var(--overpass);
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align:center;
}

.input-box-note {
  font-family: var(--overpass);
  font-size: .8rem;
  line-height: .8rem;
  font-style: italic;
  max-width: 320px;
}

.input-box-note-invalid {
  font-family: var(--overpass);
  font-size: .8rem;
  line-height: .8rem;
  font-style: italic;
  color: var(--red50);
}
